* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(58, 131, 240, 0.4) 0%, rgba(58, 131, 240, 0.2) 100%);
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  padding: 20px 10%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: none;
  grid-auto-rows: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  grid-template-areas: "logo menus";
}
nav .checkbox {
  display: none;
}
nav .nav-logo {
  grid-area: logo;
}
nav .nav-logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-logo a h2 {
  margin-left: 5px;
  font-size: 2rem;
  color: #194990;
  transition: all 0.3s ease;
}
nav .nav-logo a h2:hover {
  text-shadow: 1px 1px 3px #00000080;
}
nav .nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: menus;
  z-index: 99;
}
nav .nav-menus li.nav-list a {
  color: #1a1a1a;
}
nav .nav-menus li.nav-list a button {
  color: #194990;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid rgba(25, 73, 144, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .nav-menus li.nav-list a button:hover {
  background-color: #194990;
  color: #fff;
}
nav .nav-menus li.nav-list a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background-color: #19499080;
  transition: all 0.3s ease;
}
nav .nav-menus li.nav-list a:hover::after {
  width: 100%;
}
nav .nav-menus li.nav-list:last-child a::after {
  content: "";
  display: none;
}
nav .nav-toggle {
  grid-area: toggle;
  height: 20px;
  cursor: pointer;
  display: none;
}
nav .nav-toggle span {
  width: 27px;
  height: 3px;
  border-radius: 3px;
  background-color: #1a1a1a;
}
nav .nav-toggle span:first-child {
  transform-origin: 0 0;
}
nav .nav-toggle span:last-child {
  transform-origin: 0 100%;
}
nav .nav-toggle span:nth-child(2) {
  width: 60%;
}

@media (max-width: 992px) {
  nav {
    grid-template-columns: 40% 30px;
    grid-template-areas: "logo toggle" "menus menus";
    grid-template-rows: max-content;
    align-items: center;
    gap: 10px;
  }
  nav .checkbox {
    display: block;
    position: absolute;
    right: 9.5%;
    top: 30px;
    width: 35px;
    height: 30px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
  }
  nav .checkbox:checked ~ .nav-toggle span:first-child {
    transform-origin: 0 0;
    transform: rotateZ(45deg);
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-toggle span:last-child {
    transform-origin: 0 100%;
    transform: rotateZ(-45deg) translate(-1px, 1px);
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-toggle span:nth-child(2) {
    opacity: 0;
    scale: 0;
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-menus {
    opacity: 1;
    transform: translateY(0);
  }
  nav .nav-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 38px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.3s ease;
    background-color: #194991;
    z-index: 97;
    margin-bottom: 10px;
  }
  nav .nav-menus li.nav-list {
    margin-bottom: 30px;
  }
  nav .nav-menus li.nav-list a {
    color: #fff;
  }
  nav .nav-menus li.nav-list a::after {
    background-color: #fff;
  }
  nav .nav-menus li.nav-list a button {
    border: 1px solid #fff;
    color: #fff;
  }
  nav .nav-menus li.nav-list a button:hover {
    background-color: #fff;
    color: rgba(25, 73, 144, 0.5);
    font-weight: 600;
  }
  nav .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 98;
  }
  nav .nav-toggle span {
    transition: all 0.3s ease;
  }
}
.jumbotron {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 100%;
  grid-auto-rows: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  position: relative;
}
.jumbotron .banner h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.jumbotron .banner h2 span {
  font-weight: 700;
  font-size: 3rem;
  color: #194990;
}
.jumbotron .banner p {
  line-height: 2rem;
  margin-bottom: 20px;
}
.jumbotron .banner .apple-playstore {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.jumbotron .banner .apple-playstore .appStore {
  margin-right: 20px;
}
.jumbotron .hero-regular {
  display: block;
  width: 800px;
  height: 800px;
  position: absolute;
  right: 0;
  bottom: -15px;
  z-index: 1;
}
.jumbotron .hero-resp {
  display: none;
}

@media (max-width: 1120px) {
  .jumbotron .banner h2 {
    font-size: 2.5rem;
  }
  .jumbotron .banner h2 span {
    font-size: 2.5rem;
  }
  .jumbotron .hero-regular {
    width: 750px;
    height: 750px;
    bottom: -30px;
  }
}
@media (max-width: 992px) {
  .jumbotron {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    justify-content: space-between;
    align-items: flex-start;
    gap: none;
  }
  .jumbotron .banner {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 2;
  }
  .jumbotron .banner h2 {
    font-size: 2rem;
  }
  .jumbotron .banner h2 span {
    font-size: 2rem;
  }
  .jumbotron .hero-regular {
    display: none;
  }
  .jumbotron .hero-resp {
    display: block;
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 1;
  }
}
@media (max-width: 790px) {
  .jumbotron .banner h2 {
    font-size: 1.7rem;
  }
  .jumbotron .banner h2 span {
    font-size: 1.7rem;
  }
  .jumbotron .hero-resp {
    height: 500px;
    width: 500px;
  }
}
@media (max-width: 590px) {
  .jumbotron .banner {
    margin-top: 0px;
  }
  .jumbotron .banner h2 {
    font-size: 1.5rem;
  }
  .jumbotron .banner h2 span {
    font-size: 1.5rem;
  }
  .jumbotron .banner p {
    font-size: 0.8rem;
  }
  .jumbotron .hero-resp {
    height: 480px;
    width: 480px;
  }
}
@media (max-width: 495px) {
  .jumbotron .banner p {
    margin-bottom: 5px;
  }
}
@media (max-width: 361px) {
  .jumbotron .banner {
    margin-top: -10px;
  }
  .jumbotron .banner h2 {
    margin-bottom: 0;
  }
  .jumbotron .banner p {
    margin-bottom: 0;
  }
  .jumbotron .banner .apple-playstore {
    width: 100%;
    height: 30px;
  }
  .jumbotron .banner .apple-playstore .appStore {
    display: block;
    width: 80px;
    height: 100%;
    margin-right: 2px;
  }
  .jumbotron .banner .apple-playstore .playStore {
    display: block;
    width: 85px;
    height: 150%;
  }
  .jumbotron .hero-resp {
    width: 420px;
    height: 420px;
  }
}
.intro {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(58, 131, 240, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.intro .line {
  width: 1px;
  height: 100px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}
.intro hr {
  display: none;
}
.intro .first-intro,
.intro .second-intro,
.intro .last-intro {
  text-align: center;
  padding: 2em;
  max-width: 25%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro .first-intro h3,
.intro .second-intro h3,
.intro .last-intro h3 {
  font-size: 3rem;
  color: #194990;
  margin-bottom: 19px;
}
.intro .first-intro h3 span,
.intro .second-intro h3 span,
.intro .last-intro h3 span {
  font-size: 3rem;
  color: #000;
}
.intro .first-intro p,
.intro .second-intro p,
.intro .last-intro p {
  line-height: 2rem;
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column;
  }
  .intro .line {
    display: none;
  }
  .intro hr {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 1px;
    border-radius: 1px;
  }
  .intro .first-intro h3,
.intro .second-intro h3,
.intro .last-intro h3 {
    font-size: 2rem;
  }
  .intro .first-intro h3 span,
.intro .second-intro h3 span,
.intro .last-intro h3 span {
    font-size: 2rem;
  }
  .intro .first-intro p,
.intro .second-intro p,
.intro .last-intro p {
    font-size: 0.8rem;
  }
}
@media (max-width: 380px) {
  .intro .first-intro,
.intro .second-intro,
.intro .last-intro {
    max-width: 100%;
    min-width: 200px;
  }
}
.explain {
  width: 100%;
  height: max-content;
  padding: 50px 0 50px 10%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 400px;
  grid-auto-rows: 400px;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.explain h3 {
  font-size: 3rem;
  color: #1a1a1a;
  position: absolute;
  top: 50px;
  left: 10%;
}
.explain h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.explain .explain-detail {
  margin-top: 100px;
}
.explain .explain-detail p {
  line-height: 2rem;
}
.explain .explain-detail hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.explain .explain-detail .collab {
  display: flex;
  align-items: center;
}
.explain .explain-detail .collab img {
  width: 2rem;
  height: 2rem;
  margin-right: 25px;
  background-color: rgba(58, 131, 240, 0.15);
  border-radius: 50%;
  padding: 5px;
}
.explain .explain-detail .collab .last a {
  color: #194991;
  text-decoration: underline;
}
.explain .explain-detail .collab .last span {
  color: #194991;
}
.explain .explain-image {
  grid-area: image;
  width: 700px;
  height: 700px;
  position: absolute;
  right: -70px;
  top: -60px;
}
.explain .explain-image-responsive {
  display: none;
}

@media (max-width: 992px) {
  .explain {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "explain";
    padding-left: 0;
  }
  .explain .explain-detail {
    grid-area: explain;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
  .explain .explain-image {
    display: none;
  }
  .explain .explain-image-responsive {
    display: block;
    z-index: 2;
    align-self: flex-end;
    background-color: rgba(58, 131, 240, 0.05);
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 300px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .explain .explain-image-responsive img {
    width: 400px;
    height: 500px;
    position: absolute;
    top: -100px;
    right: 0;
  }
}
@media (max-width: 770px) {
  .explain h3 {
    font-size: 2.5rem;
  }
  .explain h3 span {
    font-size: 2.5rem;
  }
  .explain .explain-detail p {
    line-height: 30px;
    font-size: 12px;
  }
  .explain .explain-detail hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .explain .explain-detail .collab .last {
    font-size: 10px;
    line-height: 25px;
  }
  .explain .explain-detail .collab .last a {
    font-size: 10px;
  }
}
@media (max-width: 410px) {
  .explain h3 {
    font-size: 2rem;
  }
  .explain h3 span {
    font-size: 2rem;
  }
  .explain .explain-image-responsive {
    width: 320px;
  }
  .explain .explain-image-responsive img {
    width: 350px;
    top: -80px;
  }
}
.sekolah-kuliah {
  display: none;
  width: 100%;
  height: max-content;
  padding: 230px 10% 0 10%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.sekolah-kuliah h3 {
  font-size: 3rem;
  color: #1a1a1a;
  width: 40%;
  position: absolute;
  right: 10%;
  top: 150px;
}
.sekolah-kuliah h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.sekolah-kuliah hr {
  margin-bottom: 50px;
  margin-top: 50px;
}
.sekolah-kuliah .main-image {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
}
.sekolah-kuliah .main-image img {
  margin: auto;
  width: 120%;
  height: 150%;
  position: absolute;
  top: -120px;
  left: -60px;
}
.sekolah-kuliah .sekolah-kuliah-detail {
  padding-left: 20px;
  padding-top: 150px;
  box-sizing: border-box;
}
.sekolah-kuliah .sekolah-kuliah-detail p {
  line-height: 2rem;
}
.sekolah-kuliah .sekolah-kuliah-detail .format {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.sekolah-kuliah .sekolah-kuliah-detail .format img {
  background-color: rgba(58, 131, 240, 0.15);
  border-radius: 50%;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  margin-right: 25px;
}
.sekolah-kuliah .sekolah-kuliah-detail .format .details p {
  font-size: 14px;
  line-height: 35px;
}
.sekolah-kuliah .sekolah-kuliah-detail .format .details .bold {
  font-weight: 600;
}

@media (max-width: 992px) {
  .sekolah-kuliah {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .sekolah-kuliah h3 {
    width: 70%;
    top: 0;
    text-align: right;
  }
  .sekolah-kuliah .main-image {
    height: 250px;
    top: 190px;
    margin-bottom: 70px;
  }
  .sekolah-kuliah .main-image img {
    left: -30px;
  }
}
@media (max-width: 770px) {
  .sekolah-kuliah h3 {
    width: 80%;
    font-size: 2.5rem;
    padding-left: 10%;
  }
  .sekolah-kuliah h3 span {
    font-size: 2.5rem;
  }
  .sekolah-kuliah hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sekolah-kuliah .sekolah-kuliah-detail p {
    font-size: 12px;
    line-height: 30px;
  }
  .sekolah-kuliah .sekolah-kuliah-detail .format .details p {
    font-size: 10px;
    line-height: 25px;
  }
}
@media (max-width: 415px) {
  .sekolah-kuliah h3 {
    font-size: 2rem;
  }
  .sekolah-kuliah h3 span {
    font-size: 2rem;
  }
}
.belajar-online {
  width: 100%;
  height: max-content;
  padding: 230px 10% 0 10%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.belajar-online h3 {
  font-size: 3rem;
  color: #1a1a1a;
  width: 35%;
  position: absolute;
  left: 10%;
  top: 130px;
}
.belajar-online h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.belajar-online .belajar-online-detail {
  padding-top: 130px;
}
.belajar-online .belajar-online-detail p.first {
  line-height: 35px;
}
.belajar-online .belajar-online-detail hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.belajar-online .belajar-online-detail .format {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.belajar-online .belajar-online-detail .format img {
  width: 2rem;
  height: 2rem;
  margin-right: 25px;
  background-color: rgba(58, 131, 240, 0.15);
  border-radius: 50%;
  padding: 5px;
}
.belajar-online .belajar-online-detail .format p span.bold {
  font-weight: 600;
}
.belajar-online .main-image {
  position: relative;
  height: 400px;
  width: 100%;
  top: -50px;
}
.belajar-online .main-image img {
  width: 130%;
  height: 160%;
  top: -120px;
  right: -50px;
  position: absolute;
}

@media (max-width: 992px) {
  .belajar-online {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "detail";
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .belajar-online h3 {
    width: 60%;
    top: 80px;
  }
  .belajar-online .main-image {
    grid-area: img;
    height: 250px;
    top: 250px;
    margin-bottom: 180px;
  }
  .belajar-online .belajar-online-detail {
    grid-area: detail;
  }
}
@media (max-width: 770px) {
  .belajar-online h3 {
    width: 70%;
    font-size: 2.5rem;
  }
  .belajar-online h3 span {
    font-size: 2.5rem;
  }
  .belajar-online .main-image {
    height: 200px;
  }
  .belajar-online .main-image img {
    right: -30px;
  }
  .belajar-online .belajar-online-detail p.first {
    font-size: 12px;
    line-height: 30px;
  }
  .belajar-online .belajar-online-detail hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .belajar-online .belajar-online-detail .format p {
    font-size: 10px;
    line-height: 25px;
  }
  .belajar-online .belajar-online-detail .format p span {
    font-size: 10px;
    line-height: 25px;
  }
}
@media (max-width: 415px) {
  .belajar-online h3 {
    font-size: 2rem;
  }
  .belajar-online h3 span {
    font-size: 2rem;
  }
}
.fitur-istimewa {
  width: 100%;
  height: max-content;
  padding: 100px 0;
  box-sizing: border-box;
}
.fitur-istimewa .head-fitur-istimewa {
  width: 100%;
  height: max-content;
  padding: 0 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fitur-istimewa .head-fitur-istimewa h3 {
  font-size: 3rem;
  color: #1a1a1a;
  width: 50%;
  text-align: left;
}
.fitur-istimewa .head-fitur-istimewa h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.fitur-istimewa .head-fitur-istimewa a {
  width: 50%;
  text-align: right;
  text-decoration: underline;
  color: #194990;
}
.fitur-istimewa .body-fitur-istimewa {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
}
.fitur-istimewa .body-fitur-istimewa ul {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  padding: 100px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), #3a81eb60);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.fitur-istimewa .body-fitur-istimewa ul li {
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 300px;
  height: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.fitur-istimewa .body-fitur-istimewa ul li img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(58, 131, 240, 0.1);
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 1214px) {
  .fitur-istimewa {
    padding-bottom: 100px;
  }
}
@media (max-width: 770px) {
  .fitur-istimewa .head-fitur-istimewa {
    flex-direction: column;
    align-items: flex-start;
  }
  .fitur-istimewa .head-fitur-istimewa h3 {
    font-size: 2.5rem;
    width: 70%;
    margin-bottom: 50px;
  }
  .fitur-istimewa .head-fitur-istimewa h3 span {
    font-size: 2.5rem;
  }
  .fitur-istimewa .head-fitur-istimewa a {
    text-align: left;
    float: left;
  }
}
@media (max-width: 415px) {
  .fitur-istimewa .head-fitur-istimewa h3 {
    width: 100%;
    font-size: 2rem;
  }
  .fitur-istimewa .head-fitur-istimewa h3 span {
    font-size: 2rem;
  }
  .fitur-istimewa .body-fitur-istimewa ul li p {
    font-size: 12px;
    line-height: 30px;
  }
}
.cerita-inspiratif {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
}
.cerita-inspiratif h3 {
  font-size: 3rem;
  color: #1a1a1a;
  padding: 0 10%;
  width: 50%;
  margin-bottom: 50px;
}
.cerita-inspiratif h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.cerita-inspiratif .description {
  width: 100%;
  height: max-content;
  padding: 0 10%;
  box-sizing: border-box;
  background-color: rgba(58, 131, 240, 0.05);
  position: relative;
}
.cerita-inspiratif .description .head-quote,
.cerita-inspiratif .description .bottom-quote {
  position: absolute;
}
.cerita-inspiratif .description .head-quote {
  left: 10%;
  top: 20px;
}
.cerita-inspiratif .description .bottom-quote {
  left: 35%;
  top: 55%;
}
.cerita-inspiratif .description .head {
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-template-areas: "detail img";
  position: relative;
}
.cerita-inspiratif .description .head .details {
  grid-area: detail;
  padding: 50px 10%;
}
.cerita-inspiratif .description .head .details p.first {
  font-size: 1.2rem;
  line-height: 35px;
  margin-bottom: 3rem;
}
.cerita-inspiratif .description .head .details p span {
  color: #194990;
}
.cerita-inspiratif .description .head img {
  grid-area: img;
  width: 120%;
  height: 450px;
  position: absolute;
  top: -143px;
}
.cerita-inspiratif .description .bottom {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-template-areas: "img detail";
  position: relative;
}
.cerita-inspiratif .description .bottom .details {
  grid-area: detail;
}
.cerita-inspiratif .description .bottom .details p.first {
  font-size: 1.2rem;
  line-height: 35px;
  margin-bottom: 3rem;
}
.cerita-inspiratif .description .bottom .details p span {
  color: #194990;
}
.cerita-inspiratif .description .bottom img {
  grid-area: img;
  width: 120%;
  height: 450px;
  position: relative;
  left: -135px;
}

@media (max-width: 992px) {
  .cerita-inspiratif h3 {
    margin-bottom: 150px;
    margin-bottom: 10px;
  }
  .cerita-inspiratif .description {
    padding-bottom: 80px;
  }
  .cerita-inspiratif .description .head-quote {
    width: 120px;
    height: 120px;
  }
  .cerita-inspiratif .description .bottom-quote {
    width: 120px;
    height: 120px;
    left: 60%;
    top: 65%;
  }
  .cerita-inspiratif .description .head {
    grid-template-columns: 100%;
    grid-template-areas: "img" "detail";
  }
  .cerita-inspiratif .description .head .details {
    padding: 50px 0;
  }
  .cerita-inspiratif .description .head .details p.first {
    margin-top: 250px;
  }
  .cerita-inspiratif .description .head img {
    width: 500px;
    height: 350px;
    top: -110px;
    right: 0;
  }
  .cerita-inspiratif .description .bottom {
    grid-template-columns: 100%;
    grid-template-areas: "img" "detail";
  }
  .cerita-inspiratif .description .bottom .details p.first {
    margin-top: 50px;
  }
  .cerita-inspiratif .description .bottom img {
    width: 500px;
    height: 350px;
    top: 0px;
    left: -100px;
  }
}
@media (max-width: 770px) {
  .cerita-inspiratif h3 {
    font-size: 2.5rem;
    margin-bottom: 70px;
    width: 80%;
  }
  .cerita-inspiratif h3 span {
    font-size: 2.5rem;
  }
  .cerita-inspiratif .description .head {
    margin-bottom: 0;
  }
  .cerita-inspiratif .description .head .details p.first {
    font-size: 12px;
    line-height: 30px;
  }
  .cerita-inspiratif .description .head .details p {
    font-size: 10px;
  }
  .cerita-inspiratif .description .head .details p span {
    font-size: 10px;
  }
  .cerita-inspiratif .description .bottom .details p.first {
    font-size: 12px;
    line-height: 30px;
  }
  .cerita-inspiratif .description .bottom .details p {
    font-size: 10px;
  }
  .cerita-inspiratif .description .bottom .details p span {
    font-size: 10px;
  }
}
@media (max-width: 680px) {
  .cerita-inspiratif .description .head-quote {
    width: 100px;
    height: 100px;
    top: 50px;
  }
  .cerita-inspiratif .description .bottom-quote {
    width: 100px;
    height: 100px;
    left: 65%;
    top: 60%;
  }
  .cerita-inspiratif .description .head .details p.first {
    margin-top: 200px;
  }
  .cerita-inspiratif .description .head img {
    width: 400px;
    height: 300px;
    right: -50px;
    top: -95px;
  }
  .cerita-inspiratif .description .bottom img {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 415px) {
  .cerita-inspiratif h3 {
    font-size: 2rem;
  }
  .cerita-inspiratif h3 span {
    font-size: 2rem;
  }
  .cerita-inspiratif .description .head-quote {
    width: 60px;
    height: 60px;
    top: 50px;
  }
  .cerita-inspiratif .description .bottom-quote {
    width: 60px;
    height: 60px;
    left: 60%;
    top: 57%;
  }
  .cerita-inspiratif .description .head .details p.first {
    margin-top: 120px;
  }
  .cerita-inspiratif .description .head img {
    width: 300px;
    height: 200px;
    right: 0px;
    top: -63px;
  }
  .cerita-inspiratif .description .bottom img {
    width: 300px;
    height: 200px;
    left: -60px;
    top: 20px;
  }
}
.wujudkan-perubahan {
  width: 100%;
  height: max-content;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wujudkan-perubahan h3 {
  text-align: center;
  font-size: 3rem;
  color: #1a1a1a;
  margin-bottom: 2rem;
}
.wujudkan-perubahan h3 span {
  font-size: 3rem;
  color: #3a83f0;
}
.wujudkan-perubahan p {
  text-align: center;
  margin-bottom: 2rem;
}
.wujudkan-perubahan .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wujudkan-perubahan .buttons button {
  cursor: pointer;
  padding: 0.9rem 2rem;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}
.wujudkan-perubahan .buttons button.download {
  margin-right: 2.2rem;
  background-color: #3a83f0;
  color: #fff;
  font-weight: 600;
  border: 1px solid #fff;
}
.wujudkan-perubahan .buttons button.download:hover {
  background-color: #fff;
  color: #3a83f0;
  border: 1px solid #3a83f0;
}
.wujudkan-perubahan .buttons button.bantuan {
  background-color: #fff;
  border: 1px solid #3a83f0;
  color: #3a83f0;
}
.wujudkan-perubahan .buttons button.bantuan:hover {
  color: #fff;
  background-color: #3a83f0;
  border: 1px solid #fff;
}

@media (max-width: 770px) {
  .wujudkan-perubahan h3 {
    font-size: 2.5rem;
    width: 100%;
  }
  .wujudkan-perubahan h3 span {
    font-size: 2.5rem;
  }
  .wujudkan-perubahan p {
    font-size: 12px;
    line-height: 30px;
  }
  .wujudkan-perubahan .buttons button {
    padding: 0.8rem 1.3rem;
  }
}
@media (max-width: 415px) {
  .wujudkan-perubahan h3 {
    font-size: 2rem;
  }
  .wujudkan-perubahan h3 span {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
