* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 1000px;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(58, 131, 240, 0.4) 0%, rgba(58, 131, 240, 0.2) 100%);
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  padding: 20px 10%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: none;
  grid-auto-rows: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  grid-template-areas: "logo menus";
}
nav .checkbox {
  display: none;
}
nav .nav-logo {
  grid-area: logo;
}
nav .nav-logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-logo a h2 {
  margin-left: 5px;
  font-size: 2rem;
  color: #194990;
  transition: all 0.3s ease;
}
nav .nav-logo a h2:hover {
  text-shadow: 1px 1px 3px #00000080;
}
nav .nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: menus;
  z-index: 99;
}
nav .nav-menus li.nav-list a {
  color: #1a1a1a;
}
nav .nav-menus li.nav-list a button {
  color: #194990;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid rgba(25, 73, 144, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .nav-menus li.nav-list a button:hover {
  background-color: #194990;
  color: #fff;
}
nav .nav-menus li.nav-list a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background-color: #19499080;
  transition: all 0.3s ease;
}
nav .nav-menus li.nav-list a:hover::after {
  width: 100%;
}
nav .nav-menus li.nav-list:last-child a::after {
  content: "";
  display: none;
}
nav .nav-toggle {
  grid-area: toggle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 20px;
  cursor: pointer;
  display: none;
}
nav .nav-toggle span {
  width: 27px;
  height: 3px;
  border-radius: 3px;
  background-color: #1a1a1a;
}
nav .nav-toggle span:nth-child(2) {
  width: 60%;
}

@media (max-width: 992px) {
  nav {
    grid-template-columns: 40% 30px;
    grid-template-areas: "logo toggle" "menus menus";
    grid-template-rows: max-content;
    align-items: center;
    gap: 10px;
  }
  nav .checkbox {
    display: block;
    position: absolute;
    right: 9.5%;
    top: 30px;
    width: 35px;
    height: 30px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
  }
  nav .checkbox:checked ~ .nav-toggle span:first-child {
    transform-origin: 0 0;
    transform: rotateZ(45deg);
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-toggle span:last-child {
    transform-origin: 0 100%;
    transform: rotateZ(-45deg) translate(-1px, 1px);
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-toggle span:nth-child(2) {
    opacity: 0;
    scale: 0;
    background-color: #fff;
  }
  nav .checkbox:checked ~ .nav-menus {
    opacity: 1;
    transform: translateY(0);
  }
  nav .nav-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 38px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.3s ease;
    background-color: #194991;
    z-index: 97;
    margin-bottom: 10px;
  }
  nav .nav-menus li.nav-list {
    margin-bottom: 30px;
  }
  nav .nav-menus li.nav-list a {
    color: #fff;
  }
  nav .nav-menus li.nav-list a::after {
    background-color: #fff;
  }
  nav .nav-menus li.nav-list a button {
    border: 1px solid #fff;
    color: #fff;
  }
  nav .nav-menus li.nav-list a button:hover {
    background-color: #fff;
    color: rgba(25, 73, 144, 0.5);
    font-weight: 600;
  }
  nav .nav-toggle {
    display: flex;
    z-index: 98;
  }
  nav .nav-toggle span {
    transition: all 0.3s ease;
  }
}
.jumbotron {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 100%;
  grid-auto-rows: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  position: relative;
}
.jumbotron .banner h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.jumbotron .banner h2 span {
  font-weight: 700;
  font-size: 3rem;
  color: #194990;
}
.jumbotron .banner p {
  line-height: 2rem;
  margin-bottom: 20px;
}
.jumbotron .banner .apple-playstore {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.jumbotron .banner .apple-playstore .appStore {
  margin-right: 20px;
}
.jumbotron .hero-regular {
  display: block;
  width: 800px;
  height: 800px;
  position: absolute;
  right: 0;
  bottom: -10px;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
