@use '../mixins';

.intro {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(58, 131, 240, 5%);
  @include mixins.flex-display(row, center, center);
  flex-wrap: wrap;

  .line {
    width: 1px;
    height: 100px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
  }

  hr {
    display: none;
  }

  .first-intro,
  .second-intro,
  .last-intro {
    text-align: center;
    padding: 2em;
    max-width: 25%;
    min-width: 320px;
    @include mixins.flex-display(column, center, center);

    h3 {
      font-size: 3rem;
      color: #194990;
      margin-bottom: 19px;
      span {
        font-size: 3rem;
        color: #000;
      }
    }

    p {
      line-height: 2rem;
    }
  }

  //   .first-intro {
  //     background-color: red;
  //   }

  //   .second-intro {
  //     background-color: green;
  //   }

  //   .last-intro {
  //     background-color: yellow;
  //   }
}
