@use '../mixins';

@media (max-width: 1050px) {
  .jumbotron-banner {
    h2 {
      font-size: 3rem !important;
      span {
        font-size: 3rem !important;
      }
    }
  }

  .jumbotron-image {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .jumbotron {
    @include mixins.flex-display(column, space-between, flex-start);

    .jumbotron-banner {
      width: 100%;
      height: 40vh;
      h2 {
        margin-right: 40%;
        font-size: 2rem !important;
        margin-bottom: 30px;
        span {
          font-size: 2rem !important;
        }
      }

      p {
        margin-bottom: 30px;
      }
    }

    .jumbotron-image {
      width: 100%;
      height: 45vh;
      display: flex;

      img.heroImage,
      img.bahasaIndoImage,
      img.seniRupaImage,
      img.sketsaImage {
        display: none;
      }

      .img-resp {
        background: url('../../../img/jumbotron/mainResp.svg');
        background-size: 500px;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
