@use '../mixins';

@media (max-width: 1120px) {
  .jumbotron {
    .banner {
      h2 {
        font-size: 2.5rem;
        span {
          font-size: 2.5rem;
        }
      }
    }

    .hero-regular {
      width: 750px;
      height: 800px;
      bottom: -30px;
    }
  }
}
