@use '../mixins';

@media (max-width: 992px) {
  nav {
    grid-template-columns: 40% 30px;
    grid-template-areas:
      'logo toggle'
      'menus menus';
    grid-template-rows: max-content;
    align-items: center;
    gap: 10px;

    .checkbox {
      display: block;
      position: absolute;
      right: 9.5%;
      top: 30px;
      width: 35px;
      height: 30px;
      text-align: center;
      opacity: 0;
      cursor: pointer;
      z-index: 99;
    }

    .checkbox:checked ~ .nav-toggle {
      span {
        &:first-child {
          transform-origin: (0 0);
          transform: rotateZ(45deg);
          background-color: #fff;
        }

        &:last-child {
          transform-origin: (0 100%);
          transform: rotateZ(-45deg) translate(-1px, 1px);
          background-color: #fff;
        }

        &:nth-child(2) {
          opacity: 0;
          scale: 0;
          background-color: #fff;
        }
      }
    }

    .checkbox:checked ~ .nav-menus {
      opacity: 1;
      transform: translateY(0);
    }

    .nav-menus {
      @include mixins.flex-display(column, center, center);
      width: 100vw;
      height: 70vh;
      position: absolute;
      top: 0px;
      left: 0;
      padding: 38px;
      box-sizing: border-box;
      opacity: 0;
      transform: translateY(-200px);
      transition: all 0.3s ease;
      background-color: #194991;
      z-index: 97;
      margin-bottom: 10px;
      li.nav-list {
        margin-bottom: 30px;
        a {
          color: #fff;

          &::after {
            background-color: #fff;
          }
          button {
            border: 1px solid #fff;
            color: #fff;

            &:hover {
              background-color: #fff;
              color: rgba(25, 73, 144, 0.5);
              font-weight: 600;
            }
          }
        }
      }
    }

    .nav-toggle {
      @include mixins.flex-display(column, space-between, flex-end);
      z-index: 98;
      span {
        transition: all 0.3s ease;
      }
    }
  }
}
