@use '../mixins';

.belajar-online {
  width: 100%;
  height: max-content;
  padding: 230px 10% 0 10%;
  box-sizing: border-box;
  position: relative;
  @include mixins.grid-display(repeat(2, 50%), max-content, max-content, center, center, 0);

  h3 {
    font-size: 3rem;
    color: #1a1a1a;
    width: 35%;
    position: absolute;
    left: 10%;
    top: 130px;
    span {
      font-size: 3rem;
      color: #3a83f0;
    }
  }

  .belajar-online-detail {
    padding-top: 130px;
    p.first {
      line-height: 35px;
    }

    hr {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .format {
      @include mixins.flex-display(row, none, center);
      img {
        width: 2rem;
        height: 2rem;
        margin-right: 25px;
        background-color: rgba(58, 131, 240, 0.15);
        border-radius: 50%;
        padding: 5px;
      }
    }
  }

  .main-image {
    position: relative;
    height: 400px;
    width: 100%;
    // background-color: red;
    top: -50px;
    img {
      width: 130%;
      height: 160%;
      top: -120px;
      right: -50px;
      position: absolute;
    }
  }
}
